.container {
    background-image: url('../../Assets/ecom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-bottom: 50%; 
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  
    position: absolute;
    top: 0; bottom: 0; left: 470px; right: 30px;
  }

.title {
    font-size: 50px;
    color: gray;
}

.link {
    font-size: 30px;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}
  
  @media only screen and (max-width: 750px) {
  
    .container {
      padding-bottom: 0;
    }
    .content {
      position: relative;
      top: 0; bottom: 0; left: 0; right: 0;
      padding: 15px;
      align-items: flex-end; 
    }
    .title {
        color: rgb(243, 243, 243);
    }
    .link {
        color: rgb(243, 243, 243);;
    }
  
  }
  